{% extends "base.html" %}
{% load static %}

{% load socialaccount %}

{% block content %}
<div class="login-container">
  <div class="login-card">
    <h1 class="title">Ingresá a <span class="brand">InvertirEsFácil</span></h1>
    <p class="subtitle">Accedé a tu diagnóstico financiero, cursos, bot IA y más.</p>

    <a href="{% provider_login_url 'google' process='login' %}?next={{ request.GET.next|default:'/perfil/' }}" class="google-btn">
      <img src="{% static 'img/googl.svg' %}" alt="Google">
      Continuar con Google
    </a>


    <p class="note">Tu cuenta te da acceso a toda la plataforma.  
      No compartimos tus datos personales.</p>
  </div>
</div>
{% endblock %}
