{% load static socialaccount %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ingresá al Quiz Diario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/google_login.css' %}">

</head>
<body>
    <div class="login-box">
        <h1>Ingresá al Quiz Diario</h1>
        <p>Registrate con tu cuenta de Google para comenzar a jugar y sumar puntos en el ranking.</p>

        {% providers_media_js %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "google" %}
                <a href="{% provider_login_url provider.id %}" class="google-btn">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google Logo">
                    Iniciar sesión con Google
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <footer>© {{ current_year }} invertiresfacil.com</footer>
</body>
</html>

