body {
    background-color: #1a1a2e;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    justify-content: space-between;
}
.formulario-container {
    width: 48%;
    background-color: #000737;
    padding: 20px;
    border-radius: 8px;
}
.grafico-container {
    width: 48%;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#grafico-container {
    width: 100%;
    height: 100%;
}
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.losinputs, .losselects {
    flex: 1;
}
.cajainputs {
    width: 100%;
    height: 40px;
    border: #ffffff solid 3px;
    border-radius: 6px 0 0 6px;
    padding: 5px;
}
.cajaselects {
    width: 100%;
    height: 40px;
    border: #ffffff solid 3px;
    border-radius: 0 6px 6px 0;
    padding: 5px;
    background-color: rgb(199, 199, 199);
    color: #000;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .formulario-container, .grafico-container {
        width: 100%;
        margin-bottom: 20px;
    }
}