/* Fondo general oscuro */
body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caja emergente de la calculadora */
.calculadora-container {
    background-color: #1E1E2F;
    border-radius: 15px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.7s ease;
}

/* Inputs de la calculadora */
input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    background-color: #25253E;
    color: #114b7d;
    font-size: 16px;
}

/* Botón de calcular */
button {
    width: 100%;
    padding: 12px;
    background-color: #0D6EFD;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0A58CA;
}

/* Animaciones para la caja emergente */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}






