/* Fondo general oscuro */
body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Caja emergente de la calculadora */
.calculadora-container {
    background-color: #1E1E2F;
    border-radius: 15px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.7s ease;
}

/* Inputs de la calculadora */
input, select {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #007bff;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.6);
    outline: none;
}


/* Botón de calcular */
button {
    width: 100%;
    padding: 12px;
    background-color: #0D6EFD;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0A58CA;
}

/* Animaciones para la caja emergente */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/*modal*/
/* Estilos del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slide-down 0.3s ease-out; /* Animación para hacerlo más dinámico */
}

.modal-content h2 {
    color: #007bff;
}

.modal-content p {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
}

@keyframes slide-down {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}





