body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow-y: auto;
    background-color: #000; /* Fondo negro */
    color: #FFD700; /* Texto dorado */
}

.tituloprincipal{
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    background: #434343; /* Fondo gris oscuro para contraste */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(229, 255, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;

}
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(120deg, #FFD700 30%, #000000 70%); /* De dorado a negro */
}

.menu-option {
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    background: #333; /* Fondo gris oscuro para contraste */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.menu-option:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.6);
    background-color: #444; /* Cambio de color al pasar el cursor */
}

.menu-link {
    background-color: #FFD700; /* Dorado brillante */
    color: #000; /* Texto negro */
    padding: 15px 30px;
    border-radius: 5px;
    transition: all 0.4s ease;
    display: block;
    margin-bottom: 15px;
}

.menu-link:hover {
    background-color: #FFA500; /* Dorado más intenso */
    transform: scale(1.1);
}

#option1, #option2, #option3, #option4 {
    background-color: #222; /* Fondo de opciones en gris oscuro */
}
