body {
    background-image: url('/static/images/foto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* Define el estilo inicial del botón */
.botonera {
    background-color: #007bff; /* Color azul por defecto */
    border-color: #007bff; /* Borde azul por defecto */
    color: white; /* Texto en blanco */
}

/* Cambia el color a verde cuando el botón es presionado y queda enfocado */
.botonera:focus, .botonera:active {
    background-color: green !important;
    border-color: green !important;
    color: white; /* Texto en blanco para contraste */
}

/* Asegura que el botón mantenga el color verde después de ser presionado */
.botonera:focus {
    outline: none; /* Remueve el borde de enfoque por defecto */
}






