/* py manage.py collectstatic 
   py manage.py runserver 
   git add .
   git commit --m "version"
   git push heroku master */

/* Estilo para la barra de navegación */
.navbar {
    background-color: #00A85A;
    padding: 12px;
}



button.navbar-toggler {
    background-color: rgb(46, 105, 21); /* Color de fondo azul */
    border: none; /* Eliminar bordes */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 
        0 0 5px rgb(17, 255, 0),  /* Capa cercana de luz */
        0 0 10px rgb(17, 255, 0), /* Segunda capa de luz */
        0 0 20px rgb(17, 255, 0), /* Capa más amplia */
        0 0 30px rgb(17, 193, 5), /* Luz más difusa */
        0 0 40px rgb(17, 124, 9); /* Luz externa */
}

button.navbar-toggler svg {
    width: 30px;
    height: 30px;
    stroke: white; /* Color de las líneas del icono */
    stroke-width: 2;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #ddd;
}

.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover, .dropdown-item:hover {
    color: #000000;
}

.dropdown-menu {
    background-color: #21ae3da2;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #29292931;
}

/* Espaciado de la barra al contenido */
body {
    padding-top: 60px;
}


#carouselExample {
    height: 50vh; /* El carrusel ocupará el 35% de la pantalla en altura */
    width: 100%; /* El carrusel ocupará el 90% del ancho */
    margin-left: auto; 
    margin-right: auto;/* Centra el carrusel horizontalmente */
    overflow: hidden;
    margin-top: 5%;    
}

/* Asegura que los videos dentro del carrusel ocupen el 100% del contenedor */
.carousel-inner video{
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
    height: 100%;  /* El video ocupará el 100% de la altura del carrusel */
    object-fit: fill; /* Evita que el video se deforme y cubre todo el área del carrusel */
}

.carousel-item{
    width: 86%;
    height: 100%;   
    
    
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;

    object-fit: cover; /* Hace que la imagen ocupe todo el contenedor sin deformarse */
    width: 100%;       /* Asegura que ocupe el 100% del ancho disponible */
    height: auto;      /* Ajusta la altura proporcionalmente */
    max-height: 100%;  /* Limita la altura para que no se corte */
}


/* Posiciona los botones fuera del carrusel */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25%; /* Ajusta el ancho de los botones */
    height: 60%; /* Asegura que los botones cubran toda la altura del carrusel */
}

.carousel-control-prev {
    left: -10%; /* Posiciona el botón izquierdo fuera del carrusel */    
}

.carousel-control-next {
    right: -10%; /* Posiciona el botón derecho fuera del carrusel */    
}


/* Ajusta el cuerpo de la página */
body {
    background-color: #555555;
    padding-top: 70px; /* Espaciado para que el contenido no se superponga con la navbar */
}

/* Línea decorativa debajo del título */

/* Estilos para la ventana modal */
/* Fondo de la ventana modal con mayor opacidad y transición */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease; /* Duración y estilo de la transición */
}

/* Mostrar el modal con una transición suave */
.modal.show {
    display: block;
    opacity: 1; /* Aparece lentamente */
}

/* Contenido de la ventana modal */
.modal-content {
    position: relative;
    background-color: #5a5a5ac7;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-50px); /* Posición inicial hacia arriba */
    transition: opacity 4.5s ease, transform 4.5s ease; /* Efecto de transición */
}

/* Mostrar el contenido del modal */
.modal.show .modal-content {
    opacity: 1;
    transform: translateY(0); /* Posición final centrada */
    font-size: 30px;
      
    cursor: pointer;
    margin: 2cm auto;
    text-align: center;
}
.modal-content p{
    margin: 1cm auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color: white;
    text-transform: uppercase;
    text-decoration: solid;
}

/* Botón de cierre (la "X") */
.close {
    position: absolute;
    top: 3px;
    right: 10px;
    color: #37ff00;
    border: #37ff00 solid 3px;
    background-color: #000000;
    
}





/* Sección de Bienvenida */
.welcome-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #b2b2b2;
    margin-top: 5%;
    border-top: #007B44 6px solid;
}


.texto-promocional {
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin: 50px 0;
}

.texto-promocional h2 {
    font-size: 24px;
    color: #002111;
    margin-bottom: 20px;
    text-decoration: underline;
}

.texto-promocional p {
    margin-bottom: 20px;
}



.welcome-section .button {
    margin-top: 20px;
    margin: 0 auto;
    background-color: #555555;
    color: white;
    border-radius: 1px green solid;
    cursor: pointer;
    font-size: 16px;
    width: 2 cm;
    height: 2cm;
}

.welcome-section .button:hover {
    background-color: #979797;
    border-radius: 5px;
    box-shadow: 
        0 0 5px rgb(17, 255, 0),  /* Capa cercana de luz */
        0 0 10px rgb(26, 194, 0), /* Segunda capa de luz */
        0 0 20px rgb(0, 164, 25), /* Capa más amplia */
        0 0 30px rgb(0, 80, 17), /* Luz más difusa */
        0 0 40px rgb(0, 0, 0); /* Luz externa */
}



/* Estilos para la sección pymes PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME PYME */


.digital-assets-button:hover {
    background-color: #00A85A;
    color: #fff;
}

.cta-button:hover {
    background-color: #11ff00;
    color: rgb(0, 0, 0);
}

.digital-container {
    padding: 60px 20px;
    text-align: center;
    background-color: #eeeeee;
    margin-top: 5%;
    border-top: #007B44 6px solid;
}

.digital-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Espacio entre botones */
    margin: 20px 0;
}

.digital-assets-button {
    flex: 1 1 calc(25% - 30px); /* Los botones ocuparán un 25% del contenedor, menos los márgenes */
    min-width: 200px; /* Mínimo ancho para los botones */
    padding: 10px 20px;
    text-align: center;
    background-color: #fff;
    
    cursor: pointer;
    font-size: 1em;
    

    
        
    border: 2px solid #00A85A;
    color: #00A85A;
        
    border-radius: 20px;
        
    
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00A85A;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .digital-buttons {
        flex-direction: column;
    }
    
    .digital-assets-button {
        flex: 1 1 100%; /* Los botones ocuparán el 100% del ancho en dispositivos móviles */
        min-width: 100%;
        margin-bottom: 10px;
    }
}

.finanzas-section {
    padding: 60px 20px;
    text-align: center;
    background-color: #d2d2d2;
    margin-top: 0%;
    border-bottom: #595959 2px solid;
}

.finanzas-section h1 {
    font-size: 36px;
    color: #007BFF;
    margin-bottom: 40px;
}

.finanzas-texto {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.finanzas-texto h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 20px;
}

.finanzas-texto p {
    margin-bottom: 20px;
}

.finanzas-button {
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #39b757;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.finanzas-button:hover {
    background-color: #137e2e;
}


/* Estilos para la sección pymes persona                 persona                        persona                            persona             PYME*/
.seccionpersona {
    background-color: #969696 !important;
    padding: 50px !important;
    text-align: center !important;
}

.digitall-container {
    
    margin: 0 auto;
}

.digitall-buttons a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color de texto */
    text-decoration: none; /* Quitar subrayado */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
    transition: background-color 0.3s ease; /* Efecto al pasar el mouse */
}

.digitall-buttons a:hover {
    background-color: #45a049; /* Color al pasar el mouse */
}


.digitall-assets-button {
    flex: 1 1 calc(25% - 30px); /* Los botones ocuparán un 25% del contenedor, menos los márgenes */
    min-width: 200px; /* Mínimo ancho para los botones */
    padding: 10px;
    text-align: center;
    background-color: #00A85A;
    border: rgba(255, 255, 255, 0.514) 2px solid;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
}

.digitall-assets-button:hover {
    background-color: #a6a6a6;
    color: #fff;
}

.ctal-button {
    display: inline-block;
    background-color: #00A85A;
    color: #fff;
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
}

.ctal-button:hover {
    background-color: #007B44;
}

.footer-text {
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}
/* Sección de Servicios           TITULO  TITULO  TITULO  TITULO  TITULO  TITULO  TITULO  TITULO */


/* Sección de Servicios            AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL AZUL   varios */
.principios-mision-vision {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 40px;
    background: linear-gradient(135deg, #1b3d1f, #244f2a); /* Degradado verde oscuro */
    color: #ffffff;
    gap: 25px;
    text-align: center; /* Asegura que el contenido esté centrado */
  }
  
  /* Estilos individuales para cada elemento (Principios, Misión, Visión) */
  .principio, .mision, .vision {
    flex: 1 1 300px;
    max-width: 350px; /* Limita el ancho en pantallas grandes */
    text-align: center;
    padding: 25px;
    border-radius: 12px;
    background-color: #335b34; /* Fondo verde */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.2); /* Bordes sutiles */
  }
  
  .principio:hover, .mision:hover, .vision:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.5);
    background-color: #3c6f3d; /* Cambia el fondo en hover */
  }
  
  .principio i, .mision i, .vision i {
    font-size: 45px;
    color: #b1f5a3; /* Verde claro */
    margin-bottom: 12px;
  }
  
  .principio h3, .mision h3, .vision h3 {
    font-size: 24px;
    font-weight: bold;
    color: #e4ffe3; /* Verde pálido */
    margin-bottom: 10px;
  }
  
  .principio p, .mision p, .vision p {
    font-size: 16px;
    line-height: 1.6;
    color: #f0fff0; /* Verde suave */
    transition: color 0.3s ease;
  }
  
  .principio:hover p, .mision:hover p, .vision:hover p {
    color: #ffffff; /* Cambia a blanco al hacer hover */
  }
  
  /* Título centrado para la sección */
  .titulo-seccion {
    font-size: 2.5em;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0 auto 30px;
    text-align: center;
    position: relative;
  }
  
  /* Línea decorativa debajo del título */
  .titulo-seccion::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #1abc9c; /* Verde claro */
    margin: 10px auto 0;
    border-radius: 5px;
  }
  

  
  
/* tecno  prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba prueba*/
#contentContainer{
    margin-top: 10cm;
    height: 1cm;
}

.trans3d {
    transform-style: preserve-3d;   
    height: 1cm;
}


#contentContainer, #carouselContainer {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
}

.carouselItem {
    position: absolute;
    width: 320px;
    height: 130px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.carouselItemInner {
    width: 100%;
    height: 100%;
    background: rgba(157, 23, 23, 0.59);
    border: 10px solid rgba(255, 255, 255, 0.5);
    color: rgb(0, 116, 8);
    font-size: 72px;
    text-align: center;
    line-height: 130px;
}

  

/* Formulario de Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto Contacto */
.contact-section {
    background-color: #969696;
    padding: 60px 20px;
    color: white;
}

.contact-section h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: white;
    color: #48a426;
    cursor: pointer;
    font-size: 18px;
}

.contact-form input[type="submit"]:hover {
    background-color: #ffffff;
    color: #17c019da;
}


/* wasaaaaa */
.whatsapp-icon {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
    height: 70px;
}

.whatsapp-icon img {
    margin-top: 8px;
    margin-left: 7px;
    width: 80%;
    height: 80%;
}
.whatsapp-icon:hover {
    transform: scale(1.5); /* Ajusta el valor para más o menos agrandamiento */
    transition: transform 0.2s ease-in-out; /* Hace que el cambio sea suave */
}


/* Footer */
footer {
    background-color: #00A85A;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

/* Estilo en móviles */
@media (max-width: 768px) {
    #carouselExample {
        height: 42vh; /* El carrusel ocupará el 35% de la pantalla en altura */
        width: 100%; /* El carrusel ocupará el 90% del ancho */
        margin: 0 auto; /* Centra el carrusel horizontalmente */
        overflow: hidden;
        margin-top: 1cm;
    }
    
    /* Asegura que los videos dentro del carrusel ocupen el 100% del contenedor */
    .carousel-inner video {
        width: 100%;
        height: 100%; /* El video ocupará el 100% de la altura del carrusel */
        object-fit: fill; /* Evita que el video se deforme y cubre todo el área del carrusel */
    }
    
    .carousel-item{
        height: 42vh;
        
    }
    
    /* Ajusta el cuerpo de la página */
    body {
        background-color: #000000;
        padding-top: 70px; /* Espaciado para que el contenido no se superponga con la navbar */
    }
}