/* Asegura que el contenedor del carrusel y las imágenes tengan la altura correcta */
#carouselExample, #micarusel {
    height: 35vh; /* Ajusta la altura del contenedor */
    overflow: hidden; /* Oculta cualquier parte de las imágenes que sobrepase el contenedor */
}

.carousel{
    margin-top: 15px;

}

/* Asegura que las imágenes se ajusten correctamente sin deformarse */
.carousel-inner img {
    height: 7cm;
    width: 100%;
    object-fit: fill; /* Ajusta las imágenes al contenedor sin distorsionarlas */
    padding: auto;
}

.carousel-item h5 {
    width: 100%;
    height: 100%;
    font-size: 1cm;
    color: rgb(255, 255, 255);
    padding: 0 auto;
    margin: 0 auto;
    background-color:  #000f72;
    text-align: center;
    align-items: center;
    
}
/* py manage.py collectstatic 
   py manage.py runserver 
   git add .
   git commit --m "version"
   git push heroku master */

body{
    background-color: #000f72;
}

#financial-text {
    text-align: center; /* Centra el texto */
    font-family: 'Georgia', serif; /* Letra elegante */
    color: white; /* Color blanco */
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
    margin: 20px auto; /* Margen alrededor del texto */
    max-width: 800px; /* Ancho máximo del bloque de texto */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente para mejor legibilidad */
    border-radius: 10px; /* Bordes redondeados */
}



/* Estilo para la barra de navegación */
.navbar {
    background-color: #333;
    padding: 10px;
}

.navbar-brand {
    color: #fff;
    font-size: 1.5rem;
}

.navbar-brand:hover {
    color: #ddd;
}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover, .dropdown-item:hover {
    color: #000f72;
}

.dropdown-menu {
    background-color: #333;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #555;
}

/* Espaciado de la barra al contenido */
body {
    padding-top: 60px;
}
