<!-- calculadora/templates/calculadora/calculadora.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Interés Compuesto</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/calculadora.css' %}">
</head>
<body>

                <a href="{% url 'home' %}" class="btn btn-primary fixed-button">
                    Volver a Inicio
                </a>

    <div class="container">
        <h1 class="titulo">Calculadora de Interés Compuesto</h1>
        <form method="post">
            {% csrf_token %}
            
            <!-- Inversión inicial centrada -->
            <div class="form-row full-width">
                <label for="principal">Inversión Inicial:</label>
                <input type="number" class="form-control" id="principal" name="principal" placeholder="con cuanto dinero arrancas la inversión" oninput="formatearDolar(this)" step="1" value="{{ principal }}">
            </div>
            
            <!-- Additional Investment y Investment Period en la misma línea -->
            <div class="form-row">
                <div class="losinputs">
                    <label for="additional_investment">Aportes periodicos</label>
                    <input type="number" class="cajainputs" id="additional_investment" name="additional_investment" placeholder="cuánto vas a ir agregando" oninput="formatearDolar(this)" step="1" value="{{ additional_investment }}">
                </div>
                <div class="losselects">
                    <label for="investment_period">Temporalidad</label>
                    <select class="cajaselects" id="investment_period" name="investment_period">
                        <option value="daily" {% if investment_period == 'daily' %}selected{% endif %}>Diaria</option>
                        <option value="weekly" {% if investment_period == 'weekly' %}selected{% endif %}>Semanal</option>
                        <option value="monthly" {% if investment_period == 'monthly' %}selected{% endif %}>Mensual</option>
                        <option value="yearly" {% if investment_period == 'yearly' %}selected{% endif %}>Anual</option>
                    </select>
                </div>
            </div>
            
            <!-- Time y Time Period en la misma línea -->
            <div class="form-row">
                <div class="losinputs">
                    <label for="time">Duracion de Inversión:</label>
                    <input type="number" class="cajainputs" id="time" name="time" placeholder="cuánto tiempo durará la inversión?" step="1" value="{{ time }}">
                </div>
                <div class="losselects">
                    <label for="time_period">Temporalidad</label>
                    <select class="cajaselects" id="time_period" name="time_period">
                        <option value="daily" {% if time_period == 'daily' %}selected{% endif %}>Diaria</option>
                        <option value="weekly" {% if time_period == 'weekly' %}selected{% endif %}>Semanal</option>
                        <option value="monthly" {% if time_period == 'monthly' %}selected{% endif %}>Mensual</option>
                        <option value="yearly" {% if time_period == 'yearly' %}selected{% endif %}>Anual</option>
                    </select>
                </div>
            </div>
            
            <!-- Rate y Rate Period en la misma línea -->
            <div class="form-row">
                <div class="losinputs">
                    <label for="rate">Tasa de Interés (%):</label>
                    <input type="number" class="cajainputs" id="rate" name="rate" placeholder="qué rendimiento se espera?" step="0.01" value="{{ rate }}">
                </div>
                <div class="losselects">
                    <label for="rate_period">Temporalidad</label>
                    <select class="cajaselects" id="rate_period" name="rate_period">
                        <option value="daily" {% if rate_period == 'daily' %}selected{% endif %}>Diaria</option>
                        <option value="weekly" {% if rate_period == 'weekly' %}selected{% endif %}>Semanal</option>
                        <option value="monthly" {% if rate_period == 'monthly' %}selected{% endif %}>Mensual</option>
                        <option value="yearly" {% if rate_period == 'yearly' %}selected{% endif %}>Anual</option>
                    </select>
                </div>
            </div>
            
            <!-- Botón de cálculo -->
             <div class="form-row">
            <button type="submit" class="btn btn-primary botonera">Calcular</button>
             </div>
        
            

            <!-- Modal -->
            {% if amount %}
            <span id="resultadoMonto" style="display:none;">{{ amount }}</span>
            {% endif %}

            <div id="resultadoModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2>Resultado de la inversion</h2>
                    <p id="resultadoTexto"></p>
                </div>
            </div>

        </form>
    </div>
    
    

    <!-- Scripts -->
    <script src="{% static 'js/calculadora.js' %}"></script>
</body>
</html>


