{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego Financiero</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">        
</head>
<body>

    <audio id="sonido-bonus" src="/static/sounds/sonido-bonus.mp3"></audio>
    <audio id="sonido-penalty" src="/static/sounds/sonido-penalty.mp3"></audio>
    <audio id="sonido-puntaje" src="/static/sounds/sonido-final.mp3"></audio>

    <div class="game-container">
        

        <!-- Fondo del escenario -->
        <img id="background" src="{% static 'img/backgrounds/fondo1.png' %}" alt="Fondo">
        <!-- barra de tiempo -->
        <div id="timer-bar"></div>
        <!-- Contenedor de Avatar y Texto -->
        <div class="scene-container">
            <div class="avatar-container">
                <div class="avatar">
                    <img id="avatar" src="{% static 'img/avatar.png' %}" alt="Avatar">
                </div>
            </div>
            <div class="text-box" id="text-box"></div>
        </div>

        <!-- Contenedor de sliders y botón de confirmar -->
        <div class="sliders-container">
            <div id="total-percentage" class="total-percentage">Total: 100%</div>

            <div class="slider-container">
                <label for="vehicle">Vehículo</label>
                <input type="range" id="vehicle" class="slider" min="0" max="100" value="0">
                <span class="percentage" id="vehicle-value">0%</span>
            </div>
            
            <div class="slider-container">
                <label for="property">Propiedad</label>
                <input type="range" id="property" class="slider" min="0" max="100" value="0">
                <span class="percentage" id="property-value">0%</span>
            </div>

            <div class="slider-container">
                <label for="education">Capacitación</label>
                <input type="range" id="education" class="slider" min="0" max="100" value="0">
                <span class="percentage" id="education-value">0%</span>
            </div>

            <div class="slider-container">
                <label for="investment">Inversión</label>
                <input type="range" id="investment" class="slider" min="0" max="100" value="0">
                <span class="percentage" id="investment-value">0%</span>
            </div>

            <div class="slider-container">
                <label for="leisure">Ocio</label>
                <input type="range" id="leisure" class="slider" min="0" max="100" value="0">
                <span class="percentage" id="leisure-value">0%</span>
            </div>
            
            <div class="slider-container">
                <label for="business">Negocio</label>
                <input type="range" id="business" class="slider" min="0" max="100" value="0">
                <span class="percentage" id="business-value">0%</span>
            </div>
            
            <button id="confirm-btn">Confirmar</button>
        </div>
    </div>
    

    
    <div id="evento-mensaje" class="evento-mensaje"></div>

    <script src="{% static 'js/game.js' %}" defer></script>
    
</body>
</html>









