{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Invertir Es Facil</title>
    <!-- Vincular el CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">INVERTIR ES FACIL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width="30" height="30">
              <path stroke='black' d='M4 7h22M4 15h22M4 23h22'/>
            </svg>
          </button>
        
          
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                  
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          MENU
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Inversiones</a></li>
                          <li><a class="dropdown-item" href="{% url 'calculadora' %}">Calculadora</a></li>
                          <li><a class="dropdown-item" href="#">Servicios</a></li>
                          <li><a class="dropdown-item" href="#">Carrera de la Rata</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Contacto</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/emimiotti" target="_blank">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://wa.me/543574410703" target="_blank">
                        <i class="fab fa-whatsapp"></i> WhatsApp
                    </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    
<!-- Carrusel de Bootstrap p-->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" style="height: 42vh;">
  <div id="micarusel" class="carousel-inner" style="height: 42vh;">
    <div class="carousel-item active">
      <a href="{% url 'calculadora' %}">
        <video class="d-block w-100" autoplay loop muted playsinline>
          <source src="{% static 'videos/INCO.mp4' %}" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </a>
    </div>
    <div class="carousel-item">
      <a href="{% url 'start' %}">
          <img src="{% static 'img/fg.png' %}" class="d-block w-100 carousel-image" alt="Imagen de contacto">
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://wa.me/543574410703">
          <img src="{% static 'img/emicnv.png' %}" class="d-block w-100 carousel-image" alt="Imagen de contacto">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#destinopymes">
        <video class="d-block w-100" autoplay loop muted playsinline>
          <source src="{% static 'videos/spymes.mp4' %}" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </a>
    </div>
    <div class="carousel-item">
      <a href="#destinopersonas">
        <video class="d-block w-100" autoplay loop muted playsinline>
          <source src="{% static 'videos/PERSONAS.mp4' %}" type="video/mp4">
          Tu navegador no soporta la etiqueta de video.
        </video>
      </a>
    </div> 
    <div class="carousel-item">
      <a href="{% url 'intro_quiz' %}">
          <img src="{% static 'img/PERSONAS.png' %}" class="d-block w-100 carousel-image" alt="Imagen de contacto">
      </a>
    </div>
</div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>


<!-- Sección de Servicios pymes-->
<section class="seccionpyme" id="destinopymes">
  <div class="digital-container">
      <h1>SERVICIOS PARA PYMES Y EMPRENDIMIENTOS</h1>
      <div class="digital-buttons">
          <a class="digitall-assets-button" href="{% url 'planeserp' %}">SOFTWARE PYMES</a>
          <button class="digital-assets-button" onclick="openModal('modalON')">Obligaciones Negociables (ON)</button>
          <button class="digital-assets-button" onclick="openModal('modalFCE')">Facturas de Crédito Electrónicas (FCE)</button>
          <button class="digital-assets-button" onclick="openModal('modalCPD')">Cheques de Pago Diferido (CPD)</button>
          <button class="digital-assets-button" onclick="openModal('modalFideicomisos')">Acceso a Fideicomisos Financieros</button>
          <button class="digital-assets-button" onclick="openModal('modalFinanciamiento')">Financiamiento Productivo PYMES</button>
          <button class="digital-assets-button" onclick="openModal('modalFondos')">Fondos Comunes de Inversión</button>
          <button class="digital-assets-button" onclick="openModal('modalOfertaPublica')">Régimen de Oferta Pública para PYMES</button>
      </div>
      <a href="#" class="cta-button">Contactar Asesor</a>
  </div>
</section>

<!-- Sección de Servicios persona persona persona-->
<section class="seccionpersona" id="destinopersonas">
  <div class="digitall-container" >
      <h1>SERVICIOS PARA PERSONAS</h1>
      <div class="digitall-buttons">          
          <button class="digitall-assets-button" onclick="openModal('modalProxima')">OPORTUNIDADES DE INVERSION</button>
          <a class="digitall-assets-button" href="{% url 'planes' %}">ASESORÍA PERSONALIZADA</a>
          <a href="{% if user.is_authenticated %}{% url 'perfil_usuario' %}{% else %}{% url 'login_google' %}{% endif %}" 
          class="digitall-assets-button">
          👤 Mi Perfil
          </a>
          <a class="digitall-assets-button" href="{% url 'calculadora' %}">CALCULA TU INVERSION</a>           
          <a class="digitall-assets-button" href="{% url 'carrera_rata' %}">MEDI TU % DE LIBERTAD</a>  
          <a class="digitall-assets-button" href="{% url 'start' %}">JUGAR AHORA</a>
          <button class="digitall-assets-button" onclick="openModal('modalProxima')">CURSO "FINANZAS BASICAS"</button>          
      </div>
      
      <a href="#" class="cta-button">Contactar Asesor</a>
      
  </div>
</section>

<!-- Ventanas Modales para cada botón -->
<div id="modalON" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalON')">&times;</span>
      <p> Las Obligaciones Negociables permiten a las empresas acceder a financiamiento directo a través del mercado de capitales bajo la normativa de la CNV. Aumenta tu liquidez y financia proyectos de largo plazo con condiciones de pago competitivas y adaptadas al crecimiento de tu empresa. (ON).</p>
  </div>
</div>

<div id="modalFCE" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalFCE')">&times;</span>
      <p>Optimiza tu flujo de caja mediante la negociación de Facturas de Crédito Electrónicas. La CNV regula este mecanismo que permite convertir ventas a crédito en liquidez inmediata, ideal para empresas que buscan mejorar su capital de trabajo sin recurrir a créditos bancarios. (FCE).</p>
  </div>
</div>

<div id="modalCPD" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalCPD')">&times;</span>
      <p>Convierte tus cheques de pago diferido en efectivo con condiciones competitivas en el mercado de capitales. Con el respaldo de la CNV, los CPD ofrecen una alternativa ágil y segura para cubrir necesidades operativas y optimizar el capital de trabajo. (CPD).</p>
  </div>
</div>

<div id="modalFideicomisos" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalFideicomisos')">&times;</span>
      <p>Aprovecha los Fideicomisos Financieros para financiar proyectos específicos o estructurar activos de una forma eficiente. Bajo la supervisión de la CNV, este instrumento brinda seguridad y flexibilidad para captar inversiones con mejores condiciones.</p>
  </div>
</div>

<div id="modalFinanciamiento" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalFinanciamiento')">&times;</span>
      <p>Impulsa el crecimiento de tu empresa con los Programas de Financiamiento Productivo. Estas oportunidades, reguladas por la CNV, permiten a las PYMES acceder a tasas preferenciales, estimulando la inversión y el desarrollo empresarial a largo plazo.</p>
  </div>
</div>

<div id="modalFondos" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalFondos')">&times;</span>
      <p>Accede a una gestión profesional de tus activos a través de Fondos Comunes de Inversión, un instrumento regulado por la CNV. Ideal para empresas que buscan diversificar su capital en un portafolio de inversiones con seguridad y rendimientos adaptados al mercado.</p>
  </div>
</div>

<div id="modalOfertaPublica" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalOfertaPublica')">&times;</span>
      <p>Aprovecha el Régimen de Oferta Pública para PYMES y haz crecer tu negocio accediendo a nuevos inversores. La CNV regula este programa para facilitar el financiamiento de empresas con menores costos y acceso directo al mercado de capitales.</p>
  </div>
</div>

<div id="modalProxima" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal('modalProxima')">&times;</span>
      <p>PROXIMAMENTE!</p>
  </div>
</div>



<!-- Sección de Principios, Misión y Visión -->
<section class="principios-mision-vision">
  <!-- Principios -->
  <div class="principio">
    <i class="fas fa-book-open"></i>
    <h3>Educación y Objetividad</h3>
    <p>Nos comprometemos a educar financieramente a nuestros clientes, brindando un asesoramiento objetivo que prioriza sus metas. Aquí, el conocimiento es la base de cada decisión financiera.</p>
  </div>

  <div class="principio">
    <i class="fas fa-lightbulb"></i>
    <h3>Innovación y Confiabilidad</h3>
    <p>Apostamos a soluciones innovadoras, manteniendo siempre un estándar de confiabilidad y honestidad que respalda cada paso, cada inversión y cada cliente que confía en nosotros.</p>
  </div>

  <!-- Misión -->
  <div class="mision">
    <i class="fas fa-bullseye"></i>
    <h3>Nuestra Misión</h3>
    <p>Proporcionar un asesoramiento financiero que impulse el crecimiento económico de cada cliente, adaptándonos a sus objetivos y brindando herramientas para transformar sus finanzas y conocimientos sobre el dinero.</p>
  </div>

  <!-- Visión -->
  <div class="vision">
    <i class="fas fa-eye"></i>
    <h3>Nuestra Visión</h3>
    <p>Ser un referente de transparencia en el mercado financiero, construyendo una reputación sólida y confiable. Nos visualizamos como una empresa con visión de mercado, reconocida por su ética y solidez.</p>
  </div>
</section>



{% comment %} <section class="tresde">
  <div id="contentContainer" class="trans3d"> 
  <section id="carouselContainer" class="trans3d">
  <figure id="item1" class="carouselItem trans3d"><div class="carouselItemInner trans3d">INVERTIR</div></figure>
  <figure id="item2" class="carouselItem trans3d"><div class="carouselItemInner trans3d">ES</div></figure>
  <figure id="item3" class="carouselItem trans3d"><div class="carouselItemInner trans3d">FACIL</div></figure>
  
  </section>
  </div>
</section> {% endcomment %}



<!-- icono WhatsApp -->
<a href="https://wa.me/543574410703" class="whatsapp-icon" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" alt="WhatsApp">
</a>

<!-- Icono X (Twitter) -->
<a onclick="openModal('modalProxima')" class="x-icon" target="_blank">
  <img src="{% static 'img/xicon.png' %}" alt="X (Twitter)">
</a>




<!-- Icono LinkedIn -->
<a href="https://www.linkedin.com/company/105681161" class="linkedin-icon" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" alt="LinkedIn">
</a>


<!-- Icono Instagram -->
<a href="https://www.instagram.com/tu_perfil" class="ig-icon" target="_blank">
  <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
</a>



<!-- Footer -->
<footer>
  <p>&copy; 2024 - InvertirEsFacil.com | Todos los derechos reservados</p>
</footer>


<!-- Vincular los scripts de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/home.js' %}"></script>
</body>
</html>
