{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones - Juego Financiero</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body class="instrucciones">



<div class="game-container">

    <!-- Fondo del juego -->
    <img id="background" src="{% static 'img/backgrounds/01.png' %}" alt="Fondo">

    <!-- Contenedor principal con avatar + texto -->
    <div class="scene-container">

        <div class="avatar-container">
            <div class="avatar">
                <img id="avatar" src="{% static 'img/avatars/01.png' %}" alt="Avatar de prueba">
            </div>
        </div>

        <div class="text-box" id="text-box">
            <p id="explicacion"></p>
        </div>

    </div>

    <!-- Sliders simulados -->
    <div class="sliders-container">

        <div class="slider-container">
            <label>Capacitación</label>
            <input type="range" class="slider" value="0" min="0" max="100" disabled>
        </div>

        <div class="slider-container">
            <label>Negocio</label>
            <input type="range" class="slider" value="0" min="0" max="100" disabled>
        </div>

        <div class="slider-container">
            <label>Inversión</label>
            <input type="range" class="slider" value="0" min="0" max="100" disabled>
        </div>

        <div class="slider-container">
            <label>Vehículo</label>
            <input type="range" class="slider" value="0" min="0" max="100" disabled>
        </div>

        <div class="slider-container">
            <label>Vivienda</label>
            <input type="range" class="slider" value="0" min="0" max="100" disabled>
        </div>

        <div class="slider-container">
            <label>Ocio</label>
            <input type="range" class="slider" value="0" min="0" max="100" disabled>
        </div>
        <button id="empezar-btn" onclick="window.location.href='/juego/game/'">
            Empezar Juego
        </button>
    </div>

    
    

</div>

<script src="{% static 'js/instrucciones.js' %}"></script>

</body>
</html>
