{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inversiones</title>
    <link rel="stylesheet" href="{% static 'css/inversiones.css' %}">
</head>
<body>
    <div class="fondo">
        <a href="https://wa.me/543574410703" target="_blank">
            
        <h3 class="textoo">INVERTIR</h3>
        <img src="{% static 'img/inversionemi.jpeg' %}" alt="Inversiones" class="d-block w-100">
        </a>
    </div>
</body>
</html>
