<!-- templates/resultado.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Carrera de la Rata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Resultado de Carrera de la Rata</h1>
        <p>Tu categoría es: <strong>{{ carrera_rata.categoria_final }}</strong></p>
        <!-- <p>Patrimonio Neto: {{ carrera_rata.patrimonio_neto }}</p>
        <p>Ingreso Mensual: {{ carrera_rata.ingreso_mensual }}</p>
        <p>Gasto Mensual: {{ carrera_rata.gasto_mensual }}</p>
        <p>Fuentes de Ingreso: {{ carrera_rata.fuentes_ingreso }}</p>
        <p>Horas Trabajadas: {{ carrera_rata.horas_trabajadas }}</p>-->
    </div>
</body>
</html>
